h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    color: #ADD8E6 ;
    text-align: center;
    text-shadow: 3px 1px LightSlateGray  ;
}

#but {
    margin: auto;
    width: 30px;
    height: 30px;
}

body {
    background: url("../img/blah3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#image {
    margin: auto;
    width: 30px;
    height: 30px;
}

#description {
    font-size: 25px;
    text-align: center;
}

.question {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
}

.q {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

#formpadding {
    padding-top: 20px;
}

#padding {
    padding-bottom: 50px;
}

#button {
    text-align: center;
    width: 100%
}

#buttonsubmit {
    margin-top: 20px;
}

details {
    padding-left: 50px;
    padding-right: 50px;
}

#p {
    font-family: 'Libre Baskerville', serif;
    width: 700px;
    padding: auto;
}