/* h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    text-align: center;
} */


/* #ques1 {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    text-align: center;
} */


/* h5 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
    text-align: center;
} */

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 1px blue;
}

#but {
    margin: auto;
    width: 30px;
    height: 30px;
}

body {
    /* background-image: url("blah.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: auto; */
    background: url("blah2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#image {
    margin: auto;
    width: 30px;
    height: 30px;
}

#description {
    font-size: 25px;
    text-align: center;
}

.question {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
}

.q {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
}

#formpadding {
    padding-top: 20px;
}

#padding {
    padding-bottom: 50px;
}

#button {
    text-align: center;
    width: 100%
}

#buttonsubmit {
    margin-top: 20px;
}

details {
    padding-left: 50px;
    padding-right: 50px;
}

#p {
    font-family: 'Libre Baskerville', serif;
    width: 700px;
    padding: auto;
}